<nav class="navbar navbar-light bg-light" style="background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);">
  <div class="container-fluid">
    <h1 class="navbar-brand">Technology Academic School</h1>
    <div class="d-flex">
      <a routerLink="/home" ><img src="https://image.flaticon.com/icons/png/32/845/845022.png" alt="test"></a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer >
  <span>Copyright &copy; {{dynamicDate}} All Rights Reserved - Shimri Abadi</span>
</footer>
